xpanda-commons-generate-core/src/main/resources/configuration.dtd

<!ELEMENT configuration (settings?,template)>
<!ELEMENT settings (setting+)>
<!ELEMENT setting (#PCDATA)>
<!ELEMENT template (settings?)>

<!ATTLIST setting name CDATA #REQUIRED>
<!ATTLIST setting value CDATA #REQUIRED>

<!ATTLIST template sourceDirectory CDATA #REQUIRED>
<!ATTLIST template targetDirectory CDATA #REQUIRED>